.qwert {
  width: 100%;
  height: 100%;
}

.mmq {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  transition: all .5s linear;
  color: black;
  background: #ccc;
  overflow: scroll;
}

.diyige {
  width: 100%;
  height: 20px;
  background: greenyellow;
  text-align: center;
}

img {
  width: 150px;
  height: 100px;
}

.xiadexia {
  display: flex;
  margin-top: 80px;
  width: 100%;
  height: 60px;
  flex-direction: column;
}

.xiadexia span {
  margin-left: 20px;
  flex: 1;
}

.xiadexia input {
  margin-left: 20px;
  height: 30px;
  width: 250px;
  border: 0;
}

.xiadexia_xia_xia {
  width: 100%;
  height: 60px;
  display: flex;
}

.xiadexia_xia_xia span {
  line-height: 30px;
  flex: 1;
  text-align: center;
  margin-left: 30px;
  padding-left: 10px;
}

.xiadexia_xia_xia input {
  width: 250px;
  height: 30px;
}

.rightright {
  width: 100%;
  height: 100px;
  background: #ccc;
  text-align: center;
  line-height: 100px;
}

.zhong {
  display: flex;
}

.niubi {
  width: 100%;
  height: 60px;
  background: #ccc;
  margin-top: 40px;
}

.mme {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  transition: all .5s linear;
  color: black;
  background: #dad2d2;
  overflow: scroll;
}

.discount_left {
  margin-left: 270px;
  margin-top: -20px;
  color: skyblue;
}

.discount_right {
  margin-left: 200px;
  color: red;
}
